params {
  rbase = 'r-base:latest'
}

process {
    withLabel: local_run {
        executor = 'local'
        maxRetries =  3
        memory = 16.GB
        cpus = 10
    }
    withLabel: low_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 40.GB
        cpus = 2
        time = '6h'
    }
    withLabel: mid_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 120.GB
        cpus = 6.0
        time = '6h'
    }
    withLabel: high_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 250.GB
        cpus = 10
        time = '6h'
    }
}
